.fieldset fieldset{
	width:450px;
	margin: 40px auto;
	border-radius:10px;
	background-color: #A2F9F9;
}

.input_style input[type=text],input[type=password], input[type=number]{
	width:300px;
	height:20px;
	padding: 5px;
	font: normal 13px sans-serif;
	color:black;
	border-radius:3px;
	border:1px solid #99cccc;
	outline:none;
}

.fieldset fieldset select{
	width:315px;
	height:30px;
	padding: 5px;
	font: normal 13px sans-serif;
	color:black;
	text-align: left;
	border-radius:3px;
	border:1px solid white;
	outline:none;
}

.inputReadOnly{
	background-color: #EEE9E9;
}

.input_table{
	border: 1px solid #e3e3e3;
	width: 350px;
	text-align: left;
	padding: 5px;
	background: none;
}

.div_size fieldset{
	margin: 20px auto;
}

.field_size{
	width: 500px;
	padding: 10px;
	border-radius:10px;
	background-color: #A2F9F9;
	font: normal 13px sans-serif;
}

p.table_border {
	outline: 1px solid;
	margin: 2px;
	padding: 5px;
}
