@CHARSET "ISO-8859-1";

body{

	background-image: url("../imagens/background.jpg");
	background-repeat: no-repeat;
	background-size:100%;	
}

figure.imagem1{
	position: absolute;
    left: 850px;
    top: 200px;
}

figure.imagem2{
	
	position: absolute;
    left: 840px;
    top: 200px;
}

div.UserKey{
    position: absolute;
    left: 200px;
    top: 250px;
    	
}

div.cabecalho{
	position: absolute;
	position: center;
	top: 1px;
	left: 400px;
}

div.mapa{
	position: absolute;
	width:400px;
	height:400px;
	top: 400px;
	left: 900px;
}

div.opcoesPesquisa{
	position:absolute;
	top:300px;
	left:40px;
}

div.grafico{
	position:absolute;
	top:450px;
	left:40px;
}

div.formulario{
	top:250px;
	left:40px;
	position:absolute;
}

img.terra{
	width:100%;
    height:100%;
}

img.icone{
	opacity: 0.9;
    filter: alpha(opacity=90);
	width:100%;
    heigth:100%;
	
}

input.senha{
	width:300px;
	margin:20px 0px 20px;
	border-style:ridge;
	border-width: 5px;
	border-radius:30px;
}

input.nome{
	width:300px;
	margin:20px 0px 20px;
	border-style:ridge;
	border-width: 5px;
	border-radius:30px;
	-moz-border-radius:5px;
    -webkit-border-radius:5px;
}

input.botao{
	border-style: ridge;
	border-width: 5px;
	border-radius: 30px;

}

input.botaoFuncionario{
	margin:30px;
	left:48px;
	position:absolute;
	border-style: ridge;
	border-width: 5px;
	border-radius: 30px;
	-moz-border-radius:5px;
    -webkit-border-radius:5px;
		
}

input.funcionario{
	width:200px;
	margin:4px;
	border-style:ridge;
	border-width: 5px;
	border-radius:30px;
	-moz-border-radius:5px;
    -webkit-border-radius:5px;
		
}

ul.listaInicio{
	position:absolute;
	list-style-type:none;
	top:220px;
}

ul#visualizacao{
	left:10px;
}

ul#visualizacao li li{
	display: block;
	text-align: center;
	position: relative;
	float: left;
}

ul#visualizacao li a{
	background-color: #66FFCC;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
    box-shadow:5px 5px 3px black; 
}

ul#visualizacao li a:hover{
	background-color: #D6FFF1;
}